<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430718950022-kotn15c8nr5jh6gqtb7lpiv1d39ni0de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430718950022-kotn15c8nr5jh6gqtb7lpiv1d39ni0de</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>430718950022-vmvsnvbch908mv2et8nt0p2lq1pm6el1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwCVE8B1EejsfXpCG7rpv61FjuYJXgOn0</string>
	<key>GCM_SENDER_ID</key>
	<string>430718950022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greencart.sa</string>
	<key>PROJECT_ID</key>
	<string>green-cart-fl</string>
	<key>STORAGE_BUCKET</key>
	<string>green-cart-fl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430718950022:ios:6469d61cb56653780c0f07</string>
</dict>
</plist>